@use "variables";
@use "functions";

.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: functions.toRem(20);
    border-bottom: 1px solid #ccc;
    max-width: functions.toRem(700);

    &:hover {
        background-color: #eee;
    }

    &--mobile {
        flex-direction: column;
    }

    &__image {
        margin-right: functions.toRem(30);
        align-self: flex-start;
    }

    &__content {
        flex: 1;
    }

    &__details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.5rem;
        margin-bottom: functions.toRem(15);
    }

    &__title {
        font-weight: normal;
        font-size: functions.toRem(36);
    }

    &__latin {
        font-weight: lighter;
        font-style: italic;
        font-size: functions.toRem(5);
    }

    &__property {
        font-weight: normal;
        font-size: functions.toRem(16);
    }

    .plant-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 1rem;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        gap: functions.toRem(80);

        &.buttons--mobile {
            width: 100%;
            justify-content: normal;
            align-self: flex-start;
            flex-wrap: wrap;
        }

        .button:hover {
            cursor: pointer
        }

        .button--cancel {
            background-color: variables.$cancel;
            color: variables.$white;
            border: none;
        }
        .button--purple-light {
            background-color: variables.$purple-light;
            color: variables.$white;
            border: none;
        }
        .button--confirm {
            background-color: variables.$confirm;
            color: variables.$white;
            border: none;
        }

        .button--functional {
            background-color: transparent;
            border: none;
            color: variables.$primary;
            font-size: functions.toRem(16);
            font-weight: bold;
        }

        &__group {
            display: flex;
            gap: functions.toRem(30);
        }

        &__functional {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
        }
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0.5rem;
    }

    .column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0.5rem;
    }
}

