@use "variables";
@use "functions";

.profile-page {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &.mobile {
      padding: functions.toRem(30);
    }

    .row {
      display: flex;
      align-items: center;
      gap: functions.toRem(20)
    }

    .profile__image {
      img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.25);
      }
    }

    .profile__title {
      font-weight: 300;
      font-size: functions.toRem(36);
    }

    .form {
      display: flex;
      flex-direction: column;

      &__title {
        font-weight: 300;
        font-size: functions.toRem(23);
        margin-bottom: functions.toRem(20);
      }

      &__button {
        background-color: variables.$confirm;
        color: variables.$white;
      }
    }
  }
}