@use "variables";
@use "functions";
@use "shared";

.listing {
  padding: functions.toRem(10) functions.toRem(15);
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &__image {
    width: functions.toRem(100);
    margin-right: functions.toRem(10);
    border-radius: functions.toRem(10);
    height: functions.toRem(100);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    gap: functions.toRem(10);
    padding-top: functions.toRem(10);

    .listing__button {
      background-color: variables.$confirm;
      color: variables.$white;
      font-weight: 600;

      &:disabled {
        opacity: 70%;
      }
    }

    &.hidden {
        display: none;
    }
  }

  &__location {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
  }

  &__name {
    font-weight: 600;
  }

  &__toggle-button {
    background: none;
    border: none;
    align-self: center;
    width: 100%;
    cursor: pointer;

    &.rotated {
        transform: rotate(180deg);
    }
  }
}