<div class="listing">
  <div class="row">
    <!--    <div class="listing__image">-->
    <!--      <img [src]="'assets/img/mock/' + listing.image_url" alt="plant image" />-->
    <!--    </div>-->
    <div class="listing__image">
      <img [src]="'assets/img/mock/begonia.jpg'" alt="plant image" />
    </div>
    <div class="column listing__info">
      <span class="listing__location">
        <mat-icon>location_on</mat-icon>
        {{ listing.address.district }}
      </span>
      <span listing__name>{{ listing.description }}</span>
      <span>
        {{ listing.start_at | date : 'shortDate' }} -
        {{ listing.end_at | date : 'shortDate' }}
      </span>
    </div>
  </div>
  <div class="column listing__info" [class.hidden]="isAdditionalInfoHidden">
    <span>
      Exposition au soleil : {{ listing.plant?.species?.sunExposure }}
    </span>
    <span>Arrosage : {{ listing.plant?.species?.watering }}</span>
    <span>
      Température Optimale : {{ listing.plant?.species?.optimalTemperature }}
    </span>
    <button class="listing__button" color="" mat-raised-button>
      S'EN OCCUPER
    </button>
  </div>
  <button
    class="listing__toggle-button"
    (click)="isAdditionalInfoHidden = !isAdditionalInfoHidden"
    [class.rotated]="!isAdditionalInfoHidden">
    <mat-icon matIconPrefix>arrow_drop_down</mat-icon>
  </button>
</div>
