<form [formGroup]="form" class="login-form" (ngSubmit)="login()">
  <mat-form-field class="login-full-width">
    <mat-icon matPrefix>mail</mat-icon>
    <mat-label>E-Mail</mat-label>
    <input
      type="text"
      matInput
      formControlName="email"
      placeholder="Email"
      email />
  </mat-form-field>
  <mat-form-field class="login-full-width">
    <mat-icon matPrefix>key</mat-icon>
    <mat-label>Mot de passe</mat-label>
    <input
      type="password"
      matInput
      formControlName="password"
      placeholder="Mot de passe" />
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">SE CONNECTER</button>
</form>
