<h1>Politique de confidentialité d'Arosaje</h1>

<h2>1. Collecte des données personnelles</h2>
<p>
  Arosaje collecte deux types de données personnelles : la localisation
  approximative et les données d'identification, telles que l'adresse e-mail.
  Ces informations sont collectées uniquement dans le but de fournir les
  services demandés par les utilisateurs du site.
</p>

<h2>2. Utilisation des données personnelles</h2>
<p>
  Les données personnelles collectées sont utilisées pour personnaliser et
  améliorer l'expérience des utilisateurs sur Arosaje. Elles peuvent être
  utilisées pour fournir des informations pertinentes, des notifications de
  mises à jour, répondre aux demandes des utilisateurs et communiquer des
  informations importantes concernant le site.
</p>

<h2>3. Protection des données personnelles</h2>
<p>
  Arosaje s'engage à protéger les données personnelles collectées. Des mesures
  de sécurité appropriées sont mises en place pour prévenir tout accès non
  autorisé, toute divulgation, toute utilisation abusive ou toute altération des
  données personnelles.
</p>

<h2>4. Partage des données personnelles</h2>
<p>
  Les données personnelles collectées par Arosaje ne seront pas vendues, louées
  ou échangées avec des tiers à des fins commerciales. Cependant, dans certains
  cas, il peut être nécessaire de partager ces données avec des prestataires de
  services tiers qui agissent au nom d'Arosaje et qui sont soumis à des
  obligations de confidentialité.
</p>

<h2>5. Durée de conservation des données personnelles</h2>
<p>
  Arosaje ne conserve les données personnelles que pendant la durée nécessaire
  pour atteindre les finalités pour lesquelles elles ont été collectées, sauf si
  la loi l'exige autrement. Une fois que les données personnelles ne sont plus
  nécessaires, elles sont supprimées de manière sécurisée.
</p>

<h2>6. Droits des utilisateurs</h2>
<p>
  Conformément au Règlement général sur la protection des données (RGPD), les
  utilisateurs ont le droit d'accéder, de rectifier, de supprimer et de limiter
  l'utilisation de leurs données personnelles. Ils ont également le droit de
  s'opposer au traitement de leurs données personnelles et le droit à la
  portabilité des données. Pour exercer ces droits, les utilisateurs peuvent
  contacter Arosaje via les coordonnées fournies dans les mentions légales.
</p>

<h2>7. Cookies</h2>
<p>
  Arosaje utilise des cookies pour améliorer l'expérience de navigation des
  utilisateurs. Les cookies sont de petits fichiers texte stockés sur
  l'ordinateur des utilisateurs. Les utilisateurs ont la possibilité de
  configurer leur navigateur pour refuser les cookies ou être avertis lorsqu'un
  cookie est envoyé.
</p>

<h2>8. Modifications de la politique de confidentialité</h2>
<p>
  Arosaje se réserve le droit de modifier cette politique de confidentialité à
  tout moment. Les modifications seront publiées sur le site et entreront en
  vigueur dès leur publication. Il est recommandé aux utilisateurs de consulter
  régulièrement la politique de confidentialité pour rester informés des
  éventuelles mises à jour.
</p>

<p>
  Cette politique de confidentialité a été mise à jour le [date de la dernière
  mise à jour].
</p>
