<div class="plant-page">
  <mat-form-field
    class="example-full-width"
    *ngIf="(isMobile$ | async) !== true">
    <mat-icon matPrefix>search</mat-icon>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Explorez vos plantes" />
  </mat-form-field>
  <div *ngIf="plants | async as plants">
    <div *ngFor="let plant of plants">
      {{ plant | json }}
      <app-list-item [plant]="plant"></app-list-item>
    </div>
  </div>
  <button
    type="button"
    class="add-button"
    data-umami-event="Add plant"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
