<ng-container *ngIf="isMobile$ | async; else desktop">
  <div class="mobile-layout">
    <div class="mobile-layout__content">
      <router-outlet></router-outlet>
    </div>
    <mat-button-toggle-group [value]="path">
      <mat-button-toggle
        aria-label="Carte"
        value="map"
        (click)="navigate('map')">
        <mat-icon>map</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        aria-label="Mes plantes"
        value="plants"
        (click)="navigate('plants')">
        <mat-icon>forest</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        aria-label="Messages"
        value="messages"
        (click)="navigate('messages')">
        <mat-icon>message</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        aria-label="Profile"
        value="profile"
        (click)="navigate('profile')">
        <mat-icon>person</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</ng-container>
<ng-template #desktop>
  <div class="desktop-layout">
    <nav class="nav">
      <a class="nav__logo" routerLink="map">
        <img
          ngSrc="assets/img/logo.svg"
          class="logo-image"
          alt="logo"
          height="60"
          width="48" />
        <span class="logo-text">A Rosa-je</span>
      </a>
      <ul class="nav__links">
        <li>
          <a routerLink="plants">Mes plantes</a>
        </li>
        <li>
          <a routerLink="messages">Messages</a>
        </li>
        <li>
          <a routerLink="profile">Profile</a>
        </li>
      </ul>
    </nav>
    <div class="desktop-layout__content">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-template>
