<div class="profile-page">
  <div class="profile-page__menu">
    <mat-nav-list
      class="menu"
      *ngFor="let category of menu | keyvalue : originalOrder">
      <h4 class="menu__category-title">{{ category.key }}</h4>
      <mat-list-item
        *ngFor="let link of menu[category.key]"
        [activated]="link.name === activeMenu">
        <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
        <a class="menu__link" matListItemTitle href="#">{{ link.name }}</a>
      </mat-list-item>
    </mat-nav-list>
  </div>

  <div class="profile-page__content profile" *ngIf="user | async as user">
    <div class="row">
      <div class="profile__image">
        <img [src]="user.imageUrl" alt="" />
      </div>
      <h2 class="profile__title">
        Hello, {{ user.firstName }} {{ user.lastName }}
      </h2>
    </div>

    <div class="profile__rating row">
      <p>Votre note moyenne :</p>
      <div class="stars">
        <mat-icon>{{ user.rating >= 1 ? 'star' : 'star_outline' }}</mat-icon>
        <mat-icon>{{ user.rating >= 2 ? 'star' : 'star_outline' }}</mat-icon>
        <mat-icon>{{ user.rating >= 3 ? 'star' : 'star_outline' }}</mat-icon>
        <mat-icon>{{ user.rating >= 4 ? 'star' : 'star_outline' }}</mat-icon>
        <mat-icon>{{ user.rating >= 5 ? 'star' : 'star_outline' }}</mat-icon>
      </div>
    </div>

    <div class="profile__form form">
      <h3 class="form__title">Mes données</h3>
      <form action="submit" class="form" [formGroup]="userDataForm">
        <mat-form-field class="login-full-width">
          <mat-icon matPrefix>person</mat-icon>
          <mat-label>Nom d'utilisateur</mat-label>
          <input
            type="text"
            matInput
            formControlName="username"
            placeholder="Pseudo" />
        </mat-form-field>
        <mat-form-field class="login-full-width">
          <mat-label>Nom d'utilisateur</mat-label>
          <input
            type="text"
            matInput
            formControlName="username"
            placeholder="Pseudo" />
        </mat-form-field>
        <mat-form-field class="login-full-width">
          <mat-icon matPrefix>mail</mat-icon>
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="Email"
            email />
        </mat-form-field>
        <button class="form__button" type="button" mat-raised-button>
          SAUVEGARDER
        </button>
      </form>
    </div>

    <div class="profile__form form">
      <h3 class="form__title">Changer le mot de passe</h3>
      <form action="submit" class="form" [formGroup]="passwordForm">
        <mat-form-field class="login-full-width">
          <mat-icon matPrefix>key</mat-icon>
          <mat-label>Mot de passe</mat-label>
          <input
            type="password"
            matInput
            formControlName="password"
            placeholder="Mot de passe" />
        </mat-form-field>
        <mat-form-field class="login-full-width">
          <mat-label>Mot de passe</mat-label>
          <input
            type="password"
            matInput
            formControlName="passwordVerify"
            placeholder="Confirmer le mot de passe" />
          <mat-error></mat-error>
          <p></p>
        </mat-form-field>
        <button class="form__button" type="button" mat-raised-button>
          SAUVEGARDER
        </button>
      </form>
    </div>
  </div>
</div>
