@use "variables";
@use "functions";

.profile-page {
  display: flex;
  justify-content: space-evenly;
  align-content: start;
  gap: 0px 0px;
  padding-top: functions.toRem(30);

  .menu {
    margin-bottom: functions.toRem(20);

    &__category-title {
      font-weight: bolder;
      font-size: functions.toRem(16);
      color: rgba(variables.$black, 0.5);
      margin-bottom: functions.toRem(8);
    }

    &__link {
      text-decoration: none;
    }
  }
}