$black: #000;
$white: #fff;

$primary-lighter: #90bba9;
$primary-light: #578e77;
$primary: #416a59;
$primary-dark: #304f42;
$primary-darker: #1d2f28;

$purple-light: #505085;
$purple: #39395f;
$purple-dark: #303050;

$confirm: #83b847;
$cancel: #b85135;
$yellow: #F5DA22
