<div class="upload-image">
  <div class="buttons">
    <button (click)="fileInput.click()" mat-raised-button>
      Selectionner l'image
    </button>
    <input
      type="file"
      accept="image/*"
      (change)="selectFile($event)"
      #fileInput
      hidden />
  </div>
  <div>
    <img [src]="preview" class="preview" />
  </div>
</div>

<div *ngIf="message" class="alert alert-secondary" role="alert">
  {{ message }}
</div>

<!--<ul class="">-->
<!--  <li *ngFor="let image of imageInfos | async" class="list-group-item">-->
<!--    <p>-->
<!--      <a href="{{ image.url }}">{{ image.name }}</a>-->
<!--    </p>-->
<!--    <img src="{{ image.url }}" alt="{{ image.name }}" height="80px" />-->
<!--  </li>-->
<!--</ul>-->
