<form [formGroup]="form" class="login-form" (ngSubmit)="register()">
  <mat-form-field class="login-full-width">
    <mat-icon matPrefix>person</mat-icon>
    <mat-label>Nom d'utilisateur</mat-label>
    <input
      type="text"
      matInput
      formControlName="username"
      placeholder="Pseudo" />
    <mat-error *ngIf="form.controls['username'].errors?.['pattern']">
      Le nom d'utilisateur ne peut contenir que des lettres, des chiffres et des
      tirets
    </mat-error>
  </mat-form-field>
  <mat-form-field class="login-full-width">
    <mat-label>Prénom</mat-label>
    <input
      type="text"
      matInput
      formControlName="firstname"
      placeholder="Jean" />
  </mat-form-field>
  <mat-form-field class="login-full-width">
    <mat-label>Nom</mat-label>
    <input
      type="text"
      matInput
      formControlName="lastname"
      placeholder="Dutruc" />
  </mat-form-field>
  <mat-form-field class="login-full-width">
    <mat-icon matPrefix>mail</mat-icon>
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      placeholder="Email"
      email />
    <mat-error *ngIf="form.controls['email'].errors?.['email']">
      Email invalide
    </mat-error>
  </mat-form-field>
  <mat-form-field class="login-full-width">
    <mat-icon matPrefix>key</mat-icon>
    <mat-label>Mot de passe</mat-label>
    <input
      type="password"
      matInput
      formControlName="password"
      placeholder="Mot de passe" />
    <mat-error *ngIf="form.controls['password'].errors?.['minlength']">
      Minimum 8 caractères
    </mat-error>
  </mat-form-field>
  <mat-form-field class="login-full-width">
    <mat-label>Confirmer le mot de passe</mat-label>
    <input
      type="password"
      matInput
      formControlName="passwordVerify"
      placeholder="Mot de passe" />
    <mat-error *ngIf="form.errors?.['noPasswordMatch']">
      Les mots de passe ne correspondent pas
    </mat-error>
  </mat-form-field>
  <mat-checkbox class="example-margin" #checkbox>
    Accepter la
    <a routerLink="/privacy-policy">politique de confidentialité</a>
    et les
    <a routerLink="/legal-mentions">mentions légales</a>
    .
  </mat-checkbox>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!checkbox.checked">
    S'INSCRIRE
  </button>
</form>
